body p, h1, h2, h3, h4, h5, a {
	font-family: "freight-sans-pro";
}

.header {
	padding: 20px 0px 20px 0px;
}

.header p {
}

.search {
	padding: 16% 0% 20% 0%;
	background-color: #2980b9;
}

.search h1 {
	padding-bottom:40px;
	color:white;
	font-family: "museo-slab";
}

.input-huge { 
	width: 100%;
	height:60px !important;
	border-radius:5px !important;
	font-size:30px !important;
	box-shadow:none !important;
	border: none !important;
}

.input-huge:hover {
	box-shadow:none !important;
}

.input-huge:focus {
	box-shadow:none !important;
}

.input-describe { 
	width: 100%;
	height:200px !important;
	border-radius:5px !important;
	font-size:16px !important;
	box-shadow:none !important;
	border: none !important;
}

.input-describe:hover {
	box-shadow:none !important;
}

.input-describe:focus {
	box-shadow:none !important;
}

.footer {
	width:100%;
}

.bio {
	background-color: #2980b9;
	padding: 50px 0px 50px 0px;
	color:white;
}

.bio img {
	border: 3px solid;
	border-color:white;
}

.describe {
	background-color:#3498db;
	color:white;
	padding: 50px 0px 50px 0px;
}

.footer p {
	padding: 20px 0px 20px 0px;
}


